﻿@model ElderLists.Models.DischargeViewModel
@{
    ViewBag.Title = "Снять с роли модератора";
}

<h2>@ViewBag.Title</h2>



@using (Html.BeginForm("DischargeRedirect", "Moderation", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.OriginalUserId)
    @Html.HiddenFor(model => model.ReturnUrl)

<div class="form-horizontal">
    <p>У выбранного пользователя, <b>@Model.OriginalUser</b>, остались не закрытые замечания.</p>
    @if (ViewBag.UserId != null)
    {
        <p>Выберете другого модератора, которому будут переданы эти замечания или подтвердите их закрытие.</p>
        <div class="form-group">
            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control", @id = "class-dropdown" })
            </div>
        </div>
    }
    else
    {
        <p>Других модераторов в системе нет - подтвердите закрытие всех</p>
    }
    <div class="form-group">
        <div class="col-md-offset-2">
            <a class="btn btn-default" href="@Model.ReturnUrl.ToString()">Назад</a>
            @if (ViewBag.UserId != null)
            {
                <input type="submit" value="Передать" class="btn btn-default" />
            }
            @Html.ActionLink("Закрыть","DischargeClose","Moderation", new { id = Model.OriginalUserId, returnUrl = Model.ReturnUrl }, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
</div>            
}