﻿@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <h1>ElderLists</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p class="lead">
            ElderLists позволяет создавать анкеты персонажей, описывающие их основные качества и характеристики,
            информацию о которых можно использовать для создания интересных приключений и сюжетных поворотов.
        </p>
        <p>
            @Html.ActionLink("Создать анкету персонажа", "Create", "Characters", null, htmlAttributes: new { @class = "btn btn-primary btn-lgbtn btn-primary btn-lg" })
        </p>
    }
    else
    {
        <p class="lead">
            ElderLists &ndash; Web-приложение для любителей текстовых ролевых игр во вселенной The Elder Scrolls,
            в особенности на платформе The Elder Scrolls Online.
        </p>
        <p>
            @Html.ActionLink("Зарегистрироваться" , "Register", "Account", null, htmlAttributes: new { @class = "btn btn-primary btn-lgbtn btn-primary btn-lg" })
        </p>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Анкеты персонажей</h2>
        <p>
            Данные анкеты персонажа вкючают в себя мировоззрение на основе D&amp;D 3.5,
            списка игровых рас ESO, а также набора классов на основе 3 и 4 игр серии TES. 
        </p>
        <p>
            В сочетании с множеством других текстовых полей, анкета позволяет вам кратко, но ёмко изложить всю инфорацию о персонаже,
            которая может потребоваться мастеру сюжета или другим игрокам, ищущим спутников для совместных приключений.
        </p>
        <p>@Html.ActionLink("Подробнее", "About", "Characters", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Лор The Elder Scrolls</h2>
        <p>
            При составлении анкеты персонажа, вам будут полезны знания о вселенной, в которой он будет существовать.
        </p>
        <p>
            На основе списка, предлагаемого официальной службой поддержки Zenimax Online,
            мы также рекомендуем вам ознакомиться со следующими источниками:
        </p>
        <p>
            <a class="btn btn-default" href="http://en.uesp.net" target="_blank">UESP &raquo;</a>
            <a class="btn btn-default" href="http://ru.elderscrolls.wikia.com" target="_blank">Wikia (ru) &raquo;</a>
            <a class="btn btn-default" href="http://elderscrolls.wikia.com" target="_blank">Wikia (en) &raquo;</a>
        </p>
        <p>
            <a class="btn btn-default" href="https://www.imperial-library.info/" target="_blank">The Imperial Library &raquo;</a>
            <a class="btn btn-default" href="https://www.reddit.com/r/teslore/" target="_blank">Reddit &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Публикация и модерация</h2>
        <p>
            При создании анкеты персонажа вы сможете указать, хотите ли вы, чтобы она была опубликована в
            публичных разделах сайта или была скрыта, оставаясь доступной только по ссылке.
        </p>
        <p>
            В случае, если материал является открытым, он проходит модерацию и может получить замечани или правки от модератора,
            а в некоторы случаях - изъят из публичного доступа.
        </p>
        <p>@Html.ActionLink("Подробнее", "Rules", "Home", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
</div>