﻿
@{
    ViewBag.Title = "Правила";
}

<h2>@ViewBag.Title</h2>
<div class="rules-list">
<ol>
    <li>
        <b>Общие правила</b>
        <ol>
            <li>Все текстовые поля должны быть заполнены в соответствии с правилами и нормами русского языка.</li>
            <li>Использование ненормативной лексики лексики запрещено.</li>
            <li>Личные оскарбления других пользователеей запрещены.</li>
            <li>Разглашение персональных данных других пользователей без их публичного согласия запрещено.</li>
            <li>Репост ранее удаленных материалов запрещен.</li>
            <li>Размещение рекламы или ссылок вне специально отведенных полей запрещено.</li>
        </ol>
    </li>
    <li>
        <b>Анкеты персонажей</b>
        <ol>
            <li>Все текстовые поля должны быть заполнены в описательном стиле.</li>
            <li>Использование прямой речи или художественного стиля - недопустимо.</li>
            <li>Копирование чужих персонажей запрещено.</li>
            <li>Все персонажи должны соответствовать лору вселенной The Elder Scrolls.</li>
        </ol>
    </li>
    <li>
        <b>Модерация</b>
        <ol>
            <li>Модерация касаетя только публичных материалов или материалов, скрытых самим модератором.</li>
            <li>Все изменения пользовательского материала модератором должны сопровождаться замечаниями.</li>
            <li>Модератор может скрыть материал и заблокировать его появление в публичном доступе если тот не соответствует правилам ресурса.</li>
            <li>Модератор может самостоятельно отредактировать материал, если нарушения в нем носят чисто технический характер.</li>
            <li>Модератор может оставить замечание, не скрывая материал, если нарушения кажутся ему незначительными или неоднозначнымм.</li>
        </ol>
    </li>
    <li>
        <b>Администрация</b>
        <ol>
            <li>За нарушение описанных правил, администратор может лишить пользователя прав публиковать новые материалы, изъяв его также из публичного спика пользователей.</li>
            <li>Администратор может вносить изменения в описанные правила.</li>
        </ol>
    </li>
</ol>
</div>
