﻿@model ElderLists.Models.CharactersAboutViewModel
@{
    ViewBag.Title = "О персонажах";
}

<h2>@ViewBag.Title</h2>

<div>
    <div>
        <h3>Мировоззрение</h3>
        <p>При создании персонажа используется система мировоззрений Dungeons & Dragons.</p>
        <p>
            Мировоззрение отражает этические и моральные норма персонажа,
            помогая мастеру спрогнозировать его поведение в различных ситуациях.
        </p>
        <p><a class="btn btn-default" href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B8%D1%80%D0%BE%D0%B2%D0%BE%D0%B7%D0%B7%D1%80%D0%B5%D0%BD%D0%B8%D0%B5_%D0%B2_Dungeons_%26_Dragons" target="_blank">Wikipedia (ru) &raquo;</a></p>
    </div>

    <div>
        <h3>Расы</h3>
        <p>Список рас при создании персонажа основан на игровых расах Elder Scrolls Online.</p>
        <table class="table">
            <tr>
                <th>Раса</th>
                <th>Ссылки</th>
            </tr>
            @foreach (var item in Model.Races)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        @foreach (var link in item.Links)
                        {
                            <a class="btn btn-default" href="@link.Url" target="_blank">@link.ResourceName &raquo;</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>

    <div>
        <h3>Классы</h3>
        <p>Класс отражает общую направленность навыков персонажа.</p>
        <p>Список классов был позаимствован из The Elder Scrolls 3: Morrowind и The Elder Scrolls 4: Oblivion.</p>
        <table class="table">
            <tr>
                <th class="col-md-2">Класс</th>
                <th class="col-md-2">Тип</th>
                <th class="col-md-8">Описание</th>
            </tr>
            @foreach (var item in Model.Classes)
            {
                <tr>
                    <td class="col-md-2">@item.Name</td>
                    <td class="col-md-2">@item.TypeName</td>
                    <td class="col-md-8">@item.Description</td>
                </tr>
            }
        </table>
    </div>
</div>