﻿@model ElderLists.Models.CharacterDetailsViewModel
@using ElderLists.Extensions


<div class="form-horizontal">
    <div class="form-group">
        <h3>Общие данные</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Race, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.Race)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.Gender)
                </div>
            </div>
        </div>

        @if (Model.AbsoluteAge != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.AbsoluteAge, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div class="form-control-static">
                        @Html.DisplayFor(model => model.AbsoluteAge)
                    </div>
                </div>
            </div>
        }

        @if (Model.RelativeAge != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.RelativeAge, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div class="form-control-static">
                        @Html.DisplayFor(model => model.RelativeAge)
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="form-group">
        <h3>Внешность</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.Appearance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayMultilineFor(model => model.Appearance)
                </div>
            </div>

        </div>

        @if (Model.CombatGear != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.CombatGear, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div class="form-control-static">
                        @Html.DisplayMultilineFor(model => model.CombatGear)
                    </div>
                </div>
            </div>
        }

        @if (Model.CommonGear != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.CommonGear, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div class="form-control-static">
                        @Html.DisplayMultilineFor(model => model.CommonGear)
                    </div>
                </div>
            </div>
        }

        @if (Model.SpecialSigns != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.SpecialSigns, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div class="form-control-static">
                        @Html.DisplayMultilineFor(model => model.SpecialSigns)
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        <h3>Характер</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.Alignment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.Alignment)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Personality, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayMultilineFor(model => model.Personality)
                </div>
            </div>
        </div>

        @if (Model.Vices != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Vices, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div class="form-control-static">
                        @Html.DisplayMultilineFor(model => model.Vices)
                    </div>
                </div>
            </div>
        }

        @if (Model.Virtues != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Virtues, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div class="form-control-static">
                        @Html.DisplayMultilineFor(model => model.Virtues)
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="form-group">
        <h3>Навыки и способности</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.Class)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Occupation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayMultilineFor(model => model.Occupation)
                </div>
            </div>
        </div>

        @if (Model.CombatTactics != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.CombatTactics, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div class="form-control-static">
                        @Html.DisplayMultilineFor(model => model.CombatTactics)
                    </div>
                </div>
            </div>
        }

        @if (Model.SkillsSource != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.SkillsSource, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div class="form-control-static">
                        @Html.DisplayMultilineFor(model => model.SkillsSource)
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="form-group">
        <h3>Техническая информация</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.UserName)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.CreationDate)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastChanged, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.LastChanged)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPublic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.IsPublic)
                </div>
            </div>
        </div>
    </div>
</div>
