﻿@model ElderLists.Models.ClassViewModel

<div>
    <div class="col-md-3">
        <strong>@Html.DisplayNameFor(model => model.TypeName)</strong>
        <p>@Html.DisplayFor(model => model.TypeName)</p>
    </div>
    <div class="col-md-9">
        <strong>@Html.DisplayNameFor(model => model.Description)</strong>
        <p>@Html.DisplayFor(model => model.Description)</p>
    </div>
</div>

