﻿@model ElderLists.Models.CharacterDeleteViewModel

@{
    ViewBag.Title = "Удаление персонажа";
}

<h2>@ViewBag.Title</h2>
<div>
    <div>
        <p>Вы действительно ходите удалить персонажа <strong>@Model.Name</strong>?</p>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.Partial("BackButton") 
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
