﻿@model ElderLists.Models.CharacterDetailsViewModel
@using ElderLists.Extensions

@{
    ViewBag.Title = "Просмотр персонажа";
    var author = User.Identity.Name == Model.UserName && User.IsInRole("User");
    var admin = User.IsInRole("Admin");
    var moderator = User.IsInRole("Moderator");
}

<h2>
    @ViewBag.Title
    @if (User.Identity.IsAuthenticated)
    {
        @:&emsp;@Html.ActionLink("Мои персонажи", "My", null, htmlAttributes: new { @class = "btn btn-default" })
    }
</h2>
<hr />

@Html.Partial("CharacterDetails", Model)

@if (Model.Issue != null)
{
    @Html.Partial("Issue", Model.Issue)
}

@if (author || moderator || admin) 
{
<div class="form-horizontal">
    <div class="form-group">
        <div class="form-group">
        @if (author)
        {
            <div class="col-md-offset-2">
                @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        }
        else if (moderator)
        {
            <div class="col-md-offset-2">
                @Html.ActionLink("Замечание", "Review", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                @Html.ActionLink("Исправить", "Fix", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                @if (admin)
                {
                    @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                }
            </div>
        }
        else if (admin)
        {
            <div class="col-md-offset-2">
                @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        }
        </div>
    </div>
</div>
}
