﻿@model ElderLists.Models.CharacterFixViewModel
@using ElderLists.Extensions

@{
    ViewBag.Title = "Редактирование персонажа модератором";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.UserId)

    <div class="form-horizontal">
        <p>При заполнении формы старайтесь излагать информацию кратко и по существу.</p>
        <p>Помните, что анкеты ElderLists в первую очередь — инструмент Мастера для организации игры, а не демонстрация литературного творчества.</p>
        <p><span class="required">Поля, отмеченные</span> — обязательны для заполнения.</p>

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            <h3>Общие данные</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RaceId, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-6">
                    @Html.DropDownList("RaceId", null, htmlAttributes: new { @class = "form-control", @id = "race-dropdown" })
                    @Html.ValidationMessageFor(model => model.RaceId, "", new { @class = "text-danger" })
                    <div id="race-details" class="dropdown-details">
                        <i>Загрузка данных...</i>
                    </div>
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.RaceId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GenderId, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-6">
                    @Html.DropDownList("GenderId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.GenderId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AbsoluteAge, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.AbsoluteAge, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AbsoluteAge, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.AbsoluteAge)
                </div>
            </div>

            <div class="form-group" id="long-liver-input">
                @Html.LabelFor(model => model.RelativeAge, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.RelativeAge, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RelativeAge, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.RelativeAge)
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>Внешность</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.Appearance, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Appearance, new { htmlAttributes = new { @class = "form-control", @rows = 4 } })
                    @Html.ValidationMessageFor(model => model.Appearance, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.Appearance)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CombatGear, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CombatGear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CombatGear, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.CombatGear)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CommonGear, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CommonGear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CommonGear, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.CommonGear)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SpecialSigns, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.SpecialSigns, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpecialSigns, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.SpecialSigns)
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>Характер</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.AlignmentId, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-6">
                    @Html.DropDownList("AlignmentId", null, htmlAttributes: new { @class = "form-control", @id = "alignment-dropdown" })
                    @Html.ValidationMessageFor(model => model.AlignmentId, "", new { @class = "text-danger" })
                    <div id="alignment-details" class="dropdown-details">
                        <i>Загрузка данных...</i>
                    </div>
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.AlignmentId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Personality, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Personality, new { htmlAttributes = new { @class = "form-control", @rows = 4 } })
                    @Html.ValidationMessageFor(model => model.Personality, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.Personality)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Vices, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Vices, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Vices, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.Vices)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Virtues, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Virtues, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Virtues, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.Virtues)
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>Навыки и способности</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.ClassId, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-6">
                    @Html.DropDownList("ClassId", null, htmlAttributes: new { @class = "form-control", @id = "class-dropdown" })
                    @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                    <div id="class-details" class="dropdown-details">
                        <i>Загрузка данных...</i>
                    </div>
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.ClassId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Occupation, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control", @rows = 4 } })
                    @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.Occupation)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CombatTactics, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CombatTactics, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CombatTactics, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.CombatTactics)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SkillsSource, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.SkillsSource, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SkillsSource, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.SkillsSource)
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>Опции</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.IsPublic, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsPublic)
                        @Html.ValidationMessageFor(model => model.IsPublic, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.IsPublic)
                </div>
            </div>
        </div>

        <div class="form-group">
            <h3>Замечание</h3>

            <div class="form-group">
                @Html.LabelFor(model => model.IssueText, htmlAttributes: new { @class = "control-label col-md-2 required" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.IssueText, new { htmlAttributes = new { @class = "form-control", @rows = 4 } })
                    @Html.ValidationMessageFor(model => model.IssueText, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.IssueText)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsPrivateLocked, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.IsPrivateLocked)
                    @Html.ValidationMessageFor(model => model.IsPrivateLocked, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.IsPrivateLocked)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsResolved, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.IsResolved)
                    @Html.ValidationMessageFor(model => model.IsResolved, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.IsResolved)
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2">
                @Html.ActionLink("Назад", "Details", "Characters", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/dropdown-details.js")
}
