﻿@model IEnumerable<ElderLists.Models.CharacterListItemViewModel>

@{
    ViewBag.Title = "Персонажи";
    bool access = User.IsInRole("Moderator") || User.IsInRole("Admin");
    bool user = User.IsInRole("User");
}

<h2>@ViewBag.Title</h2>

@if (User.Identity.IsAuthenticated)
{
<p>
    @if (user)
    {
        @Html.ActionLink("Новый персонаж", "Create", "Characters", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Мои персонажи", "My", "Characters", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    @if (access)
    {
        @Html.ActionLink("Персонажи на модерации", "Moderation", "Characters", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    }
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Race)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        @if (access)
        {
            <th>
                @Html.DisplayNameFor(model => model.IsPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HaveIssues)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.LastChanged)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Race)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        @if (access)
        {
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaveIssues)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.LastChanged)
        </td>
        <th>
            @Html.ActionLink("Подробнее", "Details", "Characters", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Об авторе", "Details", "Users", routeValues: new { id = item.AuthorId }, htmlAttributes: new { @class = "btn btn-default" })
        </th>
    </tr>
}

</table>
