﻿@model ElderLists.Models.IssueViewModel
@using ElderLists.Extensions 

<div class="form-horizontal">
    <div class="form-group">
    <h3>Замечания модератора</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayMultilineFor(model => model.Text)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Moderator, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.Moderator)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPrivateLocked, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.IsPrivateLocked)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastReview, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.LastReview)
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Состояние</label>
            <div class="col-md-10">
                <div class="form-control-static">
                    @if (!Model.IsAccepted && !Model.IsResolved)
                    {
                        <p><i>Открыто</i></p>
                    }
                    @if (Model.IsResolved)
                    {
                        <p><i>Разрешено</i></p>
                    }
                    @if (Model.IsAccepted)
                    {
                        <p><i>Принято</i></p>
                    }
                    else if (User.Identity.Name != Model.Moderator)
                    {
                        @Html.ActionLink("Принять", "Accept", "Moderation", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                    @if (User.Identity.Name == Model.Moderator && !Model.IsResolved)
                    {
                        @Html.ActionLink("Разрешить", "Resolve", "Moderation", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Закрыть", "Close", "Moderation", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                </div>
           </div>
        </div>
    </div>
</div>
<th />