﻿@model IEnumerable<ElderLists.Models.ModerationCharacterListItemViewModel>
@{
    ViewBag.Title = "Персонажи на модерации";
}

<h2>@ViewBag.Title</h2>

<p>
    @if (User.IsInRole("User"))
    {
        @Html.ActionLink("Новый персонаж", "Create", "Characters", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Мои персонажи", "My", "Characters", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    @Html.ActionLink("Все персонажи", "Index", "Characters", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moderator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastChanged)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moderator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastChanged)
            </td>
            <th>
                @Html.ActionLink("Подробнее", "Details", "Characters", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
                @Html.ActionLink("Об авторе", "Details", "Users", routeValues: new { id = item.AuthorId }, htmlAttributes: new { @class = "btn btn-default" })
                @Html.ActionLink("О модераторе", "Details", "Users", routeValues: new { id = item.ModeratorId }, htmlAttributes: new { @class = "btn btn-default" })
            </th>
        </tr>
    }

</table>
