﻿@model IEnumerable<ElderLists.Models.LinkViewModel>

@if (Model.Any())
{
    <div class="row">
        <div class="form-control-static col-md-2">
            <label>Подробнее:</label>
        </div>
        <div class="col-md-10">
            @foreach (var item in Model)
            {
                <a class="btn btn-default" href="@item.Url" target="_blank">@item.ResourceName &raquo;</a>
            }
        </div>
    </div>
}