﻿@model ElderLists.Models.CharacterReviewViewModel
@using ElderLists.Extensions

@{
    ViewBag.Title = "Замечание";
}

<h2>@ViewBag.Title</h2>
<hr />

@Html.Partial("CharacterDetails", Model)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    
    <div class="form-horizontal">
        <div class="form-group">
            <h3>Замечание</h3>
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.IssueText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.IssueText, new { htmlAttributes = new { @class = "form-control", @rows = 4 } })
                    @Html.ValidationMessageFor(model => model.IssueText, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.IssueText)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsPrivateLocked, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.IsPrivateLocked)
                    @Html.ValidationMessageFor(model => model.IsPrivateLocked, "", new { @class = "text-danger" })
       
                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.IsPrivateLocked)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsResolved, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.IsResolved)
                    @Html.ValidationMessageFor(model => model.IsResolved, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-4 form-control-static">
                    @Html.DisplayDescriptionFor(model => model.IsResolved)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2">
                    @Html.ActionLink("Назад", "Details", "Characters", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
    
}
