﻿@model ElderLists.Models.ChangeEmailViewModel
@{
    ViewBag.Title = "Смена E-mail";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("ChangeEmail", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <p>Если вы не хотите менять E-mail, а только изменить его видимость — оставьте поле пустым.</p>
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.OldEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <div class="form-control-static">
                @Html.DisplayFor(m => m.OldEmail)
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.NewEmail, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HideEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <div class="checkbox">
                @Html.EditorFor(model => model.HideEmail)
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2">
            @Html.ActionLink("Назад", "Index", "Manage", htmlAttributes: new { @class = "btn btn-default" })
            <input type="submit" value="Изменить" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


