﻿@model ElderLists.Models.ChangeUserNameViewModel
@{
    ViewBag.Title = "Изменение имени пользователя";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("ChangeUserName", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-group">
        <label class="col-md-2 control-label">Текущее имя</label>
        <div class="col-md-4">
            <div class="form-control-static">
                @User.Identity.Name
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NewUserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.NewUserName, htmlAttributes: new { @class = "form-control"} )
            @Html.ValidationMessageFor(model => model.NewUserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2">
            @Html.ActionLink("Назад","Index","Manage", htmlAttributes: new { @class = "btn btn-default"} )
            <input type="submit" value="Изменить" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
