﻿@model ElderLists.Models.UserContactsViewModel
@using ElderLists.Extensions

<div class="form-horizontal">

    <h3>Контакты</h3>

    <div class="form-group">
        @Html.LabelFor(model => model.EsoUserId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            <div class="form-control-static">
                @if (Model.EsoUserId != null)
                {
                    @Html.DisplayFor(model => model.EsoUserId)
                }
                else
                {
                    <i>Не указан</i>
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Discord, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            <div class="form-control-static">
                @if (Model.Discord != null)
                {
                    @Html.DisplayFor(model => model.Discord)
                }
                else
                {
                    <i>Не указан</i>
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Telegram, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            <div class="form-control-static">
                @if (Model.Telegram != null)
                {
                    @Html.DisplayFor(model => model.Telegram)
                }
                else
                {
                    <i>Не указан</i>
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Skype, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            <div class="form-control-static">
                @if (Model.Skype != null)
                {
                    @Html.DisplayFor(model => model.Skype)
                }
                else
                {
                    <i>Не указан</i>
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            @Html.ActionLink("Изменить", "ChangeContacts", "Manage", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
</div>

