﻿@model ElderLists.Models.DeleteUserViewModel
@{
    ViewBag.Title = "Удаление пользователя";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("DeleteUser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Подтверждение удаления пользователя</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.DisplayFor(m => m.UserName, new { @class = "form-control-static" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdminPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.AdminPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            <input type="submit" value="Удалить пользователя" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}