﻿@model ElderLists.Models.IndexViewModel
@using ElderLists.Extensions

@{
    ViewBag.Title = "Управление";
}

<h2>
<div class="row">
    <div class="col-md-10">
    @ViewBag.Title
    &emsp;
    @Html.ActionLink("Моя страница", "Details", "Users", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
    @Html.ActionLink("Мои персонажи", "My", "Characters", null, htmlAttributes: new { @class = "btn btn-default" })
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Переподключиться", "Relog", "Manage", null, htmlAttributes: new { @class = "btn btn-default" })
    </div>
</div>
</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<hr />

<div class="form-horizontal">
    <h3>Параметры учетной записи</h3>
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 form-control-static">
           @Html.DisplayFor(model => model.UserName) 
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 form-control-static">
            @Html.DisplayFor(model => model.Email)  
            @if (Model.IsEmailHidden)
            {
                @:<i>&emsp;(скрыт)</i>
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="form-control-static">
                @foreach (var role in Model.Roles)
                {
                    <p>@Html.DisplayFor(roleName => role)</p>
                }
            </div>
        </div>
    </div>
    @*          
    <div class="form-group">
        <label class="control-label col-md-2">Внешние имена входа</label>
        <div class="col-md-10 form-control-static">
            @if (Model.Logins.Any())
            { 
                foreach (var login in Model.Logins)
                {
                    <p>@login.LoginProvider &emsp; <i>@login.ProviderKey</i></p>
                }
            }
            else
            {
                <i>Внешние имена входа отсутствуют</i>
            }
        </div>
    </div>
    *@
    <div class="form-group">
        <div class="col-md-offset-2">
            @Html.ActionLink("Изменить имя", "ChangeUserName", "Manage", null, htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Изменить E-mail", "ChangeEmail", "Manage", null, htmlAttributes: new { @class = "btn btn-default" })
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword", "Manage", null, htmlAttributes: new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Установить пароль", "SetPassword", "Manage", null, htmlAttributes: new { @class = "btn btn-default" })
            }
            @*    
            @Html.ActionLink("Управление внешними именами входа", "ManageLogins", "Manage", null, htmlAttributes: new { @class = "btn btn-default" })
            *@
            @if (User.IsInRole("Admin"))
            {
                if (User.IsInRole("Moderator"))
                {
                    @Html.ActionLink("Лишить роли модератора", "Discharge", "Moderation", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                }
                else
                {
                    @Html.ActionLink("Назначить модератором", "Charge", "Moderation", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                }
            }
        </div>
    </div>
</div>
@Html.Partial("Contacts", Model.Contacts)
<div class="form-horizontal">
    <h3>Обо мне</h3>
    <div class="form-group">
        @Html.LabelFor(model => model.About, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="form-control-static">
                @if (Model.About != null)
                {
                    @Html.DisplayMultilineFor(model => model.About)
                }
                else
                {
                    <i>Примечание отсутствует</i>
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            @Html.ActionLink("Изменить примечание", "ChangeAbout", "Manage", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    </div>
</div>


@*
    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

     Uncomment the following block after you have set up two-factor authentication
*@
@*
    <dt>Номер телефона:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>
*@
@*
    <dt>Двухфакторная проверка подлинности:</dt>
    <dd>
        <p>
            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Включено
                    <input type="submit" value="Отключить" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Отключено
                    <input type="submit" value="Включить" class="btn btn-link" />
                    </text>
                }
            }
    </dd>
*@