﻿@model IEnumerable<ElderLists.Models.CharacterListItemViewModel>
@{ 
    bool access = User.IsInRole("Admin") || User.IsInRole("Moderator");
}


<h3>Персонажи</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Race)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        @if (access)
        {
            <th>
                @Html.DisplayNameFor(model => model.IsPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HaveIssues)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.LastChanged)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            @if (access)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsPublic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HaveIssues)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.LastChanged)
            </td>
            <th>
                @Html.ActionLink("Подробнее", "Details", "Characters", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
            </th>
        </tr>
    }
</table>