﻿@model ElderLists.Models.UserDetailsViewModel
@using ElderLists.Extensions
@{
    ViewBag.Title = "Пользователь";
    bool admin = User.IsInRole("Admin");
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="form-horizontal">
    <h3>Личные данные</h3>
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="form-control-static">
                @Html.DisplayFor(model => model.UserName)
            </div>
        </div>
    </div>

    @if (Model.Email != null)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayFor(model => model.Email)
                    @if (Model.IsEmailHidden)
                    {
                        @:<i>&emsp;(скрыт)</i>
                    }
                </div>
            </div>
        </div>
    }

    @if (admin)
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                @Html.ActionLink("Изменить пароль", "ChangeUserPassword", "Manage", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default"})
                @Html.ActionLink("Удалить пользователя", "DeleteUser", "Manage", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="form-control-static">
                @foreach (var role in Model.Roles)
                {
                    <p>@Html.DisplayFor(roleName => role)</p>
                }
                @if (admin)
                {
                    <p>
                    @if (Model.IsUser)
                    {
                        @Html.ActionLink("Лишить прав пользователя", "Discharge", "Users", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                    else
                    {
                        @Html.ActionLink("Наделить правами пользователя", "Charge", "Users", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                    </p>
                    <p>
                    @if (Model.IsModerator)
                    {
                        @Html.ActionLink("Лишить прав модератора", "Discharge", "Moderation", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                    else
                    {
                        @Html.ActionLink("Наделить правами модератора", "Charge", "Moderation", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" })
                    }
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RegisterDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="form-control-static">
                @Html.DisplayFor(model => model.RegisterDate)
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastAction, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            <div class="form-control-static">
                @Html.DisplayFor(model => model.LastAction)
            </div>
        </div>
    </div>
</div>

@if (Model.About != null)
{
    <div class="form-horizontal">
        <h3>Обо мне</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.About, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="form-control-static">
                    @Html.DisplayMultilineFor(model => model.About)
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("Contacts", Model.Contacts)

@if (Model.Characters != null)
{
    @Html.Partial("Characters", Model.Characters)
}
@if (Model.Issues != null)
{
    @Html.Partial("Issues", Model.Issues)
}