﻿@model IEnumerable<ElderLists.Models.UserListItemViewModel>

@{
    ViewBag.Title = "Пользователи";
}

<h2>@ViewBag.Title</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Моя страница", "My", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
        @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
        {
            @Html.ActionLink("Модераторы", "Moderators", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
        }
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Characters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HiddenCharacters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastAction)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Characters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiddenCharacters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastAction)
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", "Users", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
