﻿@model IEnumerable<ElderLists.Models.ModerationIssueListItemViewModel>

<h3>Замечания</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Target)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastReview)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Target)
            </td>
            <td>
                @Html.DisplayFor(model => item.State)
            </td>
            <td>
                @Html.DisplayFor(model => item.LastReview)
            </td>
            <th>  
                @Html.ActionLink("Подробнее", "Details", item.TargetController, new { id = item.TargetId }, htmlAttributes: new { @class = "btn btn-default" })
            </th>
        </tr>
    }
</table>
