﻿@model IEnumerable<ElderLists.Models.UserModeratorListItemViewModel>

@{
    ViewBag.Title = "Модераторы";
}

<h2>@ViewBag.Title</h2>
@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Моя страница", "My", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
        @Html.ActionLink("Все пользователи", "Index", "Users", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Issues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenIssues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastAction)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenIssues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastAction)
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", "Users", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>