﻿@model ElderLists.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HideEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <div class="form-control-static">
                @Html.EditorFor(m => m.HideEmail)
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RulesAccepted, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <div class="form-control-static">
                @Html.EditorFor(m => m.RulesAccepted)
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RememberMe, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <div class="form-control-static">
                @Html.EditorFor(m => m.RememberMe)
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            <div class="form-control-static">
                <input type="submit" class="btn btn-default" value="Регистрация" />
                @Html.ActionLink("Правила сайта »", "Rules", "Home", null, htmlAttributes: new { @class = "btn btn-default", @target = "_blank" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
